{% extends 'base.html' %} 
{% block content %}

<main class="container py-5">
  <section class="card-body">
    <h1 class="display-1 text-center">Welcome to your Personal Task Manager</h1>
    <div class="text-center">
      <p>With this app you can manage all your tasks, give them a title, task manager, description, and completion date. You can also check which ones are finished, and which ones are about to be finished.
        This CRUD project is developed by <a href="https://jphuicidev.netlify.app/" class="text-decoration-none" target="_blank">Jphuicidev</a>.</p>
    </div>
  </section>
</main>
{% endblock %}
